{% extends "./_templates/layout.twig" %}

{% block page %}
<div class="preloader" data-module="PreloaderModule">
  <div class="progress-bar">
    <div class="percentage"></div>
  </div>
</div>
<div class="version" data-module="ManualVersionModule"></div>
<div class="container-fluid" data-module="MainApp"></div>
{% endblock %}
